PORT=your_port
CORS_ORIGIN=your_cors_origin
NODE_ENV=your_node_env
DATABASE_URL=your_postgres_database_uri
MONGODB_URI=your_mongodb_uri
REDIS_PORT=your_redis_port
REDIS_HOST=your_redis_host
REDIS_PASSWORD=your_redis_password
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret